
<div id="content"  ng-controller="detailController" ng-model="member">
  <div id="header">
    <div class="picture">
      <img src="controller/member/img/obama.jpg" alt="obama"  width=200px/ />
    </div>
    <div class="name">
      <h2>{{member.vorname}}</h2>
      <h2>{{member.name}}</h2>
      <div class="Bewertung">
        <i class="fa fa-star"  aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>


  <div id="main" >
    <div class="general">
      <h3>Allgemeine Informationen</h3>
      <div>
        Mitglied seit: {{member.memberSince}}
      </div>
      <div  >
        Wohnort: {{member.location}}
      </div>
      <div>
        Mail: {{member.eMail}}
      </div>
    </div>
    <div class="trade">
      <div class="offer">
        <h3>Angebot</h3>
        <ul >
          <li ng-repeat="trade in member.trades">{{trade.name}}</li>
        </ul>
      </div>
      <div class="completed">
      <h3>Abgeschlossene Tauschgesch&auml;fte</h3>
      <ul>
        <li ng-repeat="trade in member.previousTrades">{{trade.name}}</li>
      </ul>
      </div>

    </div>

    </div>
  </div>
  <div id="footer"></div>
</div>
