<meta charset="utf-8">

<div ng-model="trade" >

    <header>
    <h1>Tauschangebot Details</h1>
    </header>

    <div class="inhaber">
      <div >
        <h2>Inhaber id:</h2>
        <label>{{trade._id}}</label>
      </div>
    <div>
    <h2>Ort:</h2>
    <label>{{trade.location}}</label>
    </div>
    <div>
    <h2>Verf&uumlgbar f&uumlr Tausch:</h2>
    <label>{{trade.time}}</label>
    </div>
    </div>
    <div class="artikel">
<div>
        <img src="../assets/images/Regenschirm.png" alt="TODO get picture" style="width:200px;height:200px;">

  </div>
      <div>
        <h2>Artikel Name: </h2>
            <label>{{trade.name}}</label>
      </div>
      <div>
          <h2>Zustand: </h2>
        <label>{{trade.condition}}</label>
      </div>
        <div>
        <h2>Artikel Beschreibung: </h2>
            <label>{{trade.description}}</label>
      </div>
    </div>
    <div class="wunsch">
      <h2>Tauschwunsch gegen: </h2>
          <label>{{trade.tradeWish}}</label>
        </div>
        <footer>
          <a href="#!/tauschangebote">
    <input id="zuruck" type="button" value="Zurück">
    </a>
    <a>
      <input id="tauschen" type="button" value="Inhaber kontaktieren" ng-click="alert();">

      </input>
    </a>

  </footer>
<script src="controller/detailpage.js"></script>
